* {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/background.png)
}

.main-wrapper {
  width: 80%;
  margin: auto;
  padding-top: 140px;
  
}

.header-wrapper {
  background-color: white;
  height: 110px;
  /* box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2); */
  border-bottom: 1.5px solid rgb(236, 236, 236);
  position: fixed;
  width: 100%;
  z-index: 5;
}

.color-palette {
  display: flex;
  justify-content: space-between;
}

.color {
  width: 20%; 
  height: 300px;
  border-radius: 5px 5px 0 0;
  margin: 3px;
  position: relative;
}

.color-one {
  background-color: #A0D468;
}

.color-two {
  background-color: #48CFAD;
}

.color-three {
  background-color: #4FC2E9;
}

.color-four {
  background-color: #5D9CEC;
}

.color-five {
  background-color: #AC92EB;
}

.lock {
  width: 30px;
  margin: 10px 0 0 10px;
  cursor: pointer;
}

.logo {
  width: 400px;
  display: block;
  margin: auto;
  padding-top: 20px;
}

.hex-code {
  background-color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 15px;
  color: #333333;
  font-size: 1rem;
  border: 1px solid rgb(236, 236, 236)
}

.button-wrapper {
  width: 80%;
  margin: 30px auto;
}

.generate-btn {
  display: block;
  margin: auto;
}

.button {
  background-color: white;
  border: 2px solid #AC92EB;
  color: #AC92EB;
  height: 40px;
  border-radius: 4px;
  padding: 0 20px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #AC92EB;
  color: white;
}

.palette-creator {
  background-color: white;
  border-bottom: 1.5px solid rgb(236, 236, 236);
  border-top: 1.5px solid rgb(236, 236, 236);
  height: 180px;
  width: 100%;
}

.palette-name {
  height: 40px;
  padding: 0 0 0 10px;
  width: 65%;
}

.palette-btn {
  width: 34%;
  float: right;
}

.palette-dropdown {
  height: 40px;
  background-color: white;
  border: 2px solid #AC92EB;
  color: #AC92EB;
  padding: 0 15px;
  display: block;
  width: 50%;
  margin: 30px auto;
  cursor: pointer;
}

.palette-form {
  margin: auto;
  width: 80%;
}

.input-wrapper {
  width: 50%;
  margin: auto;
}

.locked-icon {
  background-image: url('../assets/locked.svg');
  width: 30px;
  margin: 10px 0 0 10px;
  cursor: pointer;
}

.unlocked-icon {
  background-image: url('../assets/unlocked.svg');
  width: 30px;
  margin: 10px 0 0 10px;
  cursor: pointer;
}